@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*Altura de 100% do navegador.*/
    width: 100vw; /*Largura de 100% do navegador.*/
    background-color: black;
}

body {
    background: url('../Imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Para sempre centralizar o "telefone" - independentemente do tamanho da tela.*/
    height: 627px;
    width: 311px;
    background: url('../Imagens/frame-iphone.png') no-repeat;
}
